[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Kivy = "*"
Kivy-examples = "*"
Cython = "==0.29.19"
google-cloud-texttospeech = "*"
orgparse = "*"
webdavclient3 = "==v3.14"
ffpyplayer = "*"
pipdeptree = "*"
buildozer = {path = "./buildozer"}

[dev-packages]

[requires]
python_version = "3.10"
